#toc .h1 {
    text-indent: .25in;
}
#toc .h2 {
    text-indent: .5in;
}
#toc .h3 {
    text-indent: .75in;
}
#toc .h4 {
    text-indent: 1in;
}
#toc .h5 {
    text-indent: 1.25in;
}
#toc .h6 {
    text-indent: 1.5in;
}
